@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
    display: flex;
    font-family: Quicksand;
    font-size: 20px;
    margin: 0;
    color: #FFF;
    text-align: center;
    animation: color 2s infinite alternate;
}

.blur {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFF;
    width: 350px;
    color: #555;
    box-shadow: 0 1px 2px #000;
    padding: 20px;
}

.box p {
    font-weight: 999;
    margin: 0;
    margin-bottom: 40px;
    text-align: center;
}

a {
    background: #F06;
    padding: 10px;
    color: #FFF;
    cursor: pointer;
    text-decoration: none;
    border-radius: 10px;
}

a:hover {
    color: #DDD;
}

.wrapper {
    width: 100%;
    max-width: 600px;
    margin: auto;
    font-size: 20px;
}

h1 {
    text-shadow: 1px 3px 5px #000;
    font-size: 3em;
    margin: 0;
}

input {
    font-family: Quicksand;
    font-size: 2em;
    background: transparent;
    border: none;
    border-bottom: 1px solid #FFF;
    color: #FFF;
}

input:focus {
    outline: none;
}

@keyframes color {
    from {
        background-color: #F06;
    } to {
        background-color: #3bbced;
    }
}