@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
    display: flex;
    background: #000;
    font-family: Quicksand;
    font-size: 20px;
    margin: 0;
    color: #FFF;
    text-align: center;
}

.wrapper {
    width: 100%;
    max-width: 600px;
    margin: auto;
    font-size: 20px;
}

h1 {
    font-size: 3em;
}

input {
    font-family: Quicksand;
    font-size: 2em;
    background: transparent;
    border: none;
    border-bottom: 1px solid #FFF;
    color: #FFF;
}

input:focus {
    outline: none;
}